@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    font-family: 'Varela Round', sans-serif;
}
header{
    height: 80px;
    width: 100vw;
    background-color:#a3dedc;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 9px 3px rgb(128, 177, 174);
    font-family: 'Anonymous Pro', monospace; 
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chapter{
    background-color: white;
    background-color: #3ab3e0;
    width: 90vw;
    margin: 12px 0;
    margin-bottom: 10px;
    padding: 2px;
    /* border: 2px solid black; */
    text-align: center;
    display: block;
    box-shadow: #166685 0px 3px 4px 3px;
}
.blank{
    height: 85px;
}
.chapter h3{
    font-size: 1.7rem;
    color: rgb(9, 4, 90);
    cursor: pointer;
    text-decoration:underline;
}
.downbut{
    margin: 15px auto;
    width: 50vw;
    height: 50px;
    background-color:#f8f9ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downbut:hover{
    background-color: rgb(212, 226, 255);
    cursor: pointer;
}
.downbut a:hover{
    color: #166685;
}
.slideleft{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 50px;
}

#mySidenav{
    background-color: #000;
    height: 100vh;
    width: 0px;
    color: #fff;
    position: fixed;
    right: 0;
    /* top: 80px; */
    z-index: 1;
    transition: ease-in-out 1.2s;
}
#mySidenav a{
    text-decoration: none;
    /* font-size: 20px; */
    font-family: "Lato", sans-serif;
}
.sub{
    font-size: 20px;
    display: block;
    margin: 20px 30px;
    color: grey;
}
.sub:hover{
    color: white;
    transition: 0.2s;
}
.closebtn{
    font-size: 50px;
    margin-left: 30px;
    color: white;
}
.pdf{
    width: 50vw;
    height: 800px;
}
@media screen and (max-width:700px) {
    .pdf{
        width: 70vw;
        height: 50vh;
    }
    .yt{
        width: 320px;
        height: 180px;
    }
    .chapter h3{
        font-size: 1rem;
    }
    .slideleft{
        right: 30px;
    }
}